<a href="https://colab.research.google.com/github/TimMatthew/python-for-big-data-and-data-science/blob/master/Matiichyk_Tymofii_python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 256
b = 256
print(a==b)
print(id(a)==id(b))

True
True

*Так, змінні не тільки мають однакове значення, а ще й посилаються на однакову адресу пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
print(isinstance(1, bool))
print(isinstance(False, bool))

False
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
integer = 1023
floatNum = 456.234
print("Sum: ",floatNum+integer)
print("Subtract: ",floatNum-integer)
print("Multiply: ",floatNum*integer)
print("Divide: ",floatNum/integer)
print("Mod: ",floatNum%integer)
print("Division with no remainder: ",integer//floatNum)
print("Power: ", pow(floatNum, 2))
print("Power: ", pow(integer, 2))

Sum:  1479.234
Subtract:  -566.7660000000001
Multiply:  466727.382
Divide:  0.4459765395894428
Mod:  456.234
Division with no remainder:  2.0
Power:  208149.462756
Power:  1046529

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
flag = True
print(int(floatNum))
print(flag)
print(int(flag))

456
True
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
string1 = ""
print(string1)
string = "\s"
print(string1)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
apostroph = "'"
print(apostroph)
rawString = r"\n\t"
print(rawString)

'
\n\t

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Matiichyk"

print(f"My surname is {surname}")

My surname is Matiichyk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
sentence = "My dog is crazy"
list = sentence.split(" ");
print(list)

['My', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = [3,56,257,-345]
list2 = list((-0,545676,7,-3357645))
print(list1)
print(list2)

[3, 56, 257, -345]
[0, 545676, 7, -3357645]

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
listOne = [3,5,7,5,4,32,68]
listAnother = [5,76,32,4,7,5,6,75,6,3]
listOne.append(listAnother)
print(listOne)

[3, 5, 7, 5, 4, 32, 68, [5, 76, 32, 4, 7, 5, 6, 75, 6, 3]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
nestedList = [[45, 6], [43, 65, 34], [66, 65645]]
print(nestedList[-1][-1])

65645

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
listAnother = [1,True,3,False,5.3456,7,"Sam",9,10]
newList=listAnother[2:-2]
print(newList)

[3, False, 5.3456, 7, 'Sam']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
oneTuple = (1,)
print(type(oneTuple))

<class 'tuple'>

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Списки:
  - Змінні (Mutable). Тобто, наявні елементи в списку можна змінювати
  - Елементи мають бути одного типу
  - Юзає більше пам'яті й повільніший. Бо для списків виділяється додаткова пам'ять, бо mutable
  - Зберігає дублікати

Кортежі:
  - Незмінні (Immutable). Додані елементи вже не змінити. По-розумному, зберігаю свою ідентичність)
  - Елементи можуть бути різних типів даних
  - Швидший та юзає менше пам'яті, бо immutable
  - Усі елементи унікальні

Застосування:

  - Кортежі - для статичних даних, які будуть тільки підставлятися в код (якісь мат. константи, чи рядки...) + можливо для того, щоб перенести дані із вилученням їх дублікатів

  - Списки - для динамічних даних, що будуть постійно переписуватися + якщо потрібно зберігати дублікати

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
doubleTuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
newTuple = ()
i=len(doubleTuple)
while i>=0:
  # Індекс починається з 0, тому потрібні індекси, насправді, непарні
  if(i%2!=0):
    newTuple = newTuple + (doubleTuple[i],)
  i-=1
print(newTuple)

(1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
emptySet = set()
emptySet.add(2024)
emptySet.add("Go-A це суперська група!")
emptySet.add('4')
print(emptySet)

{2024, '4', 'Go-A це суперська група!'}

Ні, елементи в множині не можна змінити. Лишень додати нові або видалити наявні

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
convertedSet = set(my_list)
print(convertedSet)

{1, 2, 67, 8, 9}

Оскільки множини мають ТІЛЬКИ унікальні елементи, дублікати не переносяться

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set1 = {3,65,True,4, "Ну, ще Motanka - найкраща", 7, 4.345}
set2 = {34, 4, 65, "Ти шоо, KARNA - найкраща!!!"}
print(set1.union(set2))
print(set1.intersection(set2))
print(set2.difference(set1))
print(set2.symmetric_difference(set1))

{65, True, 3, 4, 4.345, 34, 7, 'Ти шоо, KARNA - найкраща!!!', 'Ну, ще Motanka - найкраща'}
{65, 4}
{34, 'Ти шоо, KARNA - найкраща!!!'}
{True, 3, 4.345, 7, 'Ти шоо, KARNA - найкраща!!!', 34, 'Ну, ще Motanka - найкраща'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
emptyDict = dict()
emptyDict["K1"] = 11
emptyDict["K2"] = 11
emptyDict["K3"] = 12
emptyDict["K4"] = 12
print(emptyDict)

{'K1': 11, 'K2': 11, 'K3': 12, 'K4': 12}

Ключами можуть бути тільки immutable-дані. Тому сптсок не можу задавати як ключ

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
emptyDict["K5"] = {"K6": 234, "K7": 2345, "K8":{"K9":23423, "K10":235432, "K11":23490}}
dictElem = emptyDict["K5"]
print(dictElem)

{'K6': 234, 'K7': 2345, 'K8': {'K9': 23423, 'K10': 235432, 'K11': 23490}}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.